    {% load static %}
    {% csrf_token %}
    {{ form.as_p }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bookings/css/styles.css' %}">
    <title>Better In Thyme</title>
</head>
<body>
    <h1>Welcome to the Restaurant Booking System</h1>
    <a href="{% url 'book_table' %}">Book a table</a>
    <h2>Book a Table</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book</button>
    </form>
</body>
</html>

